<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Francesco's js/mapbox/bootstrap/is24 playground{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Trying out a few things..." />
    <meta name="keywords" content="mapbox, is24, map, javascript, bootstrap" />
    <meta name="author" content="Francesco Vozza <fvozza at gmail dot com>" />
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

	{% block css %}
	<style type="text/css">
		.well {
			margin-top: 100px;
		}
	</style>
	{% endblock %}

</head>

<body>

<!-- Top Bar -->
		{% block navbar %}
		{% endblock %}

<!-- Content -->
    {% block content %}
    {% endblock %}

	{% block javascript %}
	<!-- Le javascript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
	{% endblock %}
	
	
  {% block scripting %}
  {% endblock %}

</body>
</html>